# AWS Region
AWS_REGION=us-east-1

# Bedrock
BEDROCK_MODEL_ID=amazon.titan-embed-text-v1

# AWS Infrastructure
S3_BUCKET_NAME=agentrag-docs-dummy
DYNAMODB_TABLE_NAME=agentrag-traces-dummy
BUDGET_ALARM_THRESHOLD=2.0
